Repository ftechmax/msa-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, automation

refactor sendendpoint
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
Labels: none

fix unit test using ISendEndpointProvider
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
Labels: none

add nested validators
  src/templates/api/ApplicationName.Api/Validators/CreateExampleDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleDtoValidator.cs
Labels: none

expand example name to showcase kebabcase service name generation
  README.md
Labels: documentation

refactor domain events to records
  README.md
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleEntity.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/DomainEvent.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleCreated.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityAdded.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityUpdated.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleRemoteCodeSet.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleUpdated.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
Labels: documentation

refactor created and updated domain events
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleCreated.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleCreatedExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleUpdated.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
Labels: none

add missing api dtos
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleDocument.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleEntity.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleValueObject.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleCollectionDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleDetailsDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleEntityDto.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
Labels: none

refactor dtos
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Commands/AddExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/AddExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleValueObjectDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Test/Consumers/LocalEventHandlerTest.cs
  src/templates/api/ApplicationName.Api/Consumers/LocalEventHandler.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityAddedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityUpdatedEvent.cs
Labels: none

cleanup
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Test/Validators/AddExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api/Validators/AddExampleEntityDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleEntityDtoValidator.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityAddedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityUpdatedEvent.cs
Labels: none

fix missing entityid in events
  src/templates/api/ApplicationName.Api/Consumers/LocalEventHandler.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityAddedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityUpdatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityAddedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityUpdatedEvent.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityAdded.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityUpdated.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityAddedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityUpdatedEvent.cs
Labels: none

add unit test
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
Labels: none

add projection classes
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/shared/ApplicationName.Shared/Projections/ExampleEntityProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ExampleProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ExampleValueObjectProjection.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
Labels: none

api implementation
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Documents/DocumentBase.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleDocument.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleEntity.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleValueObject.cs
  src/templates/api/ApplicationName.Api.Application/Repositories/IDocumentRepository.cs
  src/templates/api/ApplicationName.Api.Application/Repositories/IProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/DocumentRepository.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/shared/ApplicationName.Shared/Projections/ExampleProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ProjectionBase.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/IProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

remove json comments to fix snyk parser error
  src/templates/web/tsconfig.app.json
  src/templates/web/tsconfig.json
  src/templates/web/tsconfig.spec.json
Labels: none

fix: src/templates/web/Dockerfile to reduce vulnerabilities
  src/templates/web/Dockerfile
Labels: none

clean up shared
  src/templates/shared/ApplicationName.Shared.Test/ApplicationName.Shared.Test.projitems
  src/templates/shared/ApplicationName.Shared.Test/Commands/AddExampleEntityCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleEntityCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityAddedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityUpdatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleValueObjectEventDataDummyFactory.cs
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/shared/ApplicationName.Shared/Commands/CreateExampleCommand.cs
  src/templates/shared/ApplicationName.Shared/Commands/IAddExampleEntityCommand.cs
  src/templates/shared/ApplicationName.Shared/Commands/IUpdateExampleEntityCommand.cs
  src/templates/shared/ApplicationName.Shared/Commands/UpdateExampleCommand.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleCreatedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleRemoteCodeSetEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleUpdatedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityAddedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleEntityUpdatedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/IExampleValueObjectEventData.cs
Labels: none

refactor
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Commands/AddExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/CreateExampleCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/ExampleValueObjectEventData.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleDocument.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleEntity.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Application/Services/IExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/AddExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleDetailsDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Test/Consumers/LocalEventHandlerTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/AddExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api/Consumers/LocalEventHandler.cs
  src/templates/api/ApplicationName.Api/Controllers/ExampleController.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/api/ApplicationName.Api/Validators/AddExampleEntityDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleEntityDtoValidator.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/ExampleDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/ExampleEntityDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/ApplicationName.Shared.Test.projitems
  src/templates/shared/ApplicationName.Shared.Test/Commands/CreateExampleCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleCreatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleUpdatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared/Aggregates/IExample.cs
  src/templates/shared/ApplicationName.Shared/Aggregates/IExampleEntity.cs
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/shared/ApplicationName.Shared/Commands/CreateExampleCommand.cs
  src/templates/shared/ApplicationName.Shared/Commands/UpdateExampleCommand.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleCreatedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleRemoteCodeSetEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleUpdatedEvent.cs
  src/templates/shared/ApplicationName.Shared/Events/ExampleValueObjectEventData.cs
Labels: none

refactor worker
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleEntity.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityAdded.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleEntityUpdated.cs
  src/templates/worker/ApplicationName.Worker.Application/DomainEvents/ExampleValueObjectEvent.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/IApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ExternalEvents/ExternalEventDummyFactory.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/worker/ApplicationName.Worker.Contracts/Commands/ISetExampleRemoteCodeCommand.cs
  src/templates/worker/ApplicationName.Worker.Contracts/Commands/SetExampleRemoteCodeCommand.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ExternalEvents/ExternalEvent.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ExternalEvents/IExternalEvent.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Test/Consumers/CommandHandlerTest.cs
  src/templates/worker/ApplicationName.Worker.Test/Consumers/ExternalEventHandlerTest.cs
  src/templates/worker/ApplicationName.Worker/Commands/SetExampleRemoteCodeCommand.cs
  src/templates/worker/ApplicationName.Worker/Consumers/CommandHandler.cs
  src/templates/worker/ApplicationName.Worker/Consumers/ExternalEventHandler.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleCreatedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityAddedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleEntityUpdatedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleRemoteCodeSetEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleUpdatedEvent.cs
  src/templates/worker/ApplicationName.Worker/Events/ExampleValueObjectEventData.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

refactor api unit tests
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Test/Consumers/LocalEventHandlerTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/CreateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/ExampleValueObjectDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleDtoValidatorTest.cs
Labels: none

clean up unit tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/worker/ApplicationName.Worker.Test/Consumers/CommandHandlerTest.cs
  src/templates/worker/ApplicationName.Worker.Test/Consumers/ExternalEventHandlerTest.cs
Labels: none

dependabot ignore major
  .github/dependabot.yml
Labels: automation

package update
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
Labels: none

cleanup
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.sln.DotSettings
  src/templates/api/ApplicationName.Api/ApiHub.cs
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

fix dependabot syntax error
  .github/dependabot.yml
Labels: automation

command handler tests
  src/templates/worker/ApplicationName.Worker.Test/Consumers/CommandHandlerTest.cs
Labels: none

example document tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/TestCases.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
Labels: none

add more exampledocument tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
Labels: none

add applicationservice tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/TestCases.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
Labels: none

add document tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
Labels: none

add missing tests
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
Labels: none

add api unit tests
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts.Test/TestCases.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Test/Controllers/ExampleControllerTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/CreateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/ExampleValueObjectDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleDtoValidatorTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
Labels: none

Expand unit tests (#90)
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts.Test/TestCases.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Test/Controllers/ExampleControllerTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/CreateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/ExampleValueObjectDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleDtoValidatorTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/TestCases.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Test/Consumers/CommandHandlerTest.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
Labels: none

implement routing
  src/templates/web/package.json
  src/templates/web/proxy.config.json
  src/templates/web/src/app/example/collection/example-collection.component.html
  src/templates/web/src/app/example/collection/example-collection.component.ts
  src/templates/web/src/app/example/contracts.ts
  src/templates/web/src/app/example/create/example-create.component.ts
  src/templates/web/src/app/example/details/example-details.component.html
  src/templates/web/src/app/example/details/example-details.component.ts
  src/templates/web/src/app/example/routes.ts
  src/templates/web/src/app/example/update/example-update.component.ts
Labels: none

-
  src/templates/web/angular.json
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/web/proxy.config.json
  src/templates/web/src/app/app.component.html
  src/templates/web/src/app/app.component.ts
  src/templates/web/src/app/app.config.ts
  src/templates/web/src/app/example/collection/example-collection.component.html
  src/templates/web/src/app/example/collection/example-collection.component.scss
  src/templates/web/src/app/example/collection/example-collection.component.ts
  src/templates/web/src/app/example/collection/example.datasource.ts
  src/templates/web/src/app/layout/layout.component.html
  src/templates/web/src/app/layout/layout.component.scss
  src/templates/web/src/app/layout/layout.component.spec.ts
  src/templates/web/src/app/layout/layout.component.ts
  src/templates/web/src/index.html
  src/templates/web/src/styles.scss
Labels: none

package update
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

package update (#91)
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

add fault snackbar
  src/templates/api/ApplicationName.Api.Contracts/DomainFault.cs
  src/templates/api/ApplicationName.Api/Consumers/LocalEventHandler.cs
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/web/src/app/app.component.ts
  src/templates/web/src/app/core/contracts.ts
  src/templates/web/src/app/core/fault-snackbar/fault-snack-bar.component.html
  src/templates/web/src/app/core/fault-snackbar/fault-snack-bar.component.scss
  src/templates/web/src/app/core/fault-snackbar/fault-snack-bar.component.spec.ts
  src/templates/web/src/app/core/fault-snackbar/fault-snack-bar.component.ts
  src/templates/web/src/app/example/collection/example-collection.component.html
  src/templates/web/src/app/example/collection/example-collection.component.ts
  src/templates/web/src/app/example/collection/example.datasource.ts
  src/templates/web/src/app/example/create/example-create.component.html
  src/templates/web/src/app/example/create/example-create.component.ts
  src/templates/web/src/app/example/httpclient.ts
  src/templates/web/src/app/signalr.service.ts
  src/templates/web/src/app/status.service.ts
Labels: none

revert signalr due to bug
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/web/proxy.config.json
Labels: none

changed key prefix to use colon
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/api/ApplicationName.Api/appsettings.json
Labels: none

add missing websockets mapping
  k8s/base/api/mapping.yaml
Labels: none

.github/labeler.yml:

documentation:
  - "**/*.MD"
  - "**/*.md"

automation:
  - ".github/**"
  - ".git*"
  - "NuGet.config"
