Repository ftechmax/msa-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, automation

.github/labeler.yml:

documentation:
  - "**/*.MD"
  - "**/*.md"

automation:
  - ".github/**"
  - ".git*"
  - "NuGet.config"

Update src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleDto.cs
Labels: none

Update src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleValueObjectDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleValueObjectDto.cs
Labels: none

remove dependabot patch level
  .github/dependabot.yml
Labels: automation

upgrade all packages
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
Labels: none

upgrade all packages
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
Labels: none

npm be gone
  .github/dependabot.yml
Labels: automation

Remove MicroElements.Swashbuckle
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

proxy config typo
  src/templates/web/proxy.config.json
Labels: none

npm audit
  src/templates/web/package-lock.json
Labels: none

cleanup
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
Labels: none

add service account
  k8s/base/api/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/sa.yaml
  k8s/base/web/deployment.yaml
  k8s/base/worker/deployment.yaml
Labels: none

upgrade to angular 20
  src/templates/web/angular.json
  src/templates/web/package-lock.json
  src/templates/web/package.json
Labels: none

add projection to worker
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/shared/ApplicationName.Shared/Projections/ExampleProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ExampleValueObjectProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ProjectionBase.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/IProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker/MappingProfile.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

upgrade to angular 20
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/web/Dockerfile
  src/templates/web/angular.json
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/worker/ApplicationName.Worker/Dockerfile
Labels: none

add projection to api
  src/templates/api/ApplicationName.Api.Application.Test/Services/ExampleServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Documents/DocumentBase.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleDocument.cs
  src/templates/api/ApplicationName.Api.Application/Documents/ExampleValueObject.cs
  src/templates/api/ApplicationName.Api.Application/Repositories/IDocumentRepository.cs
  src/templates/api/ApplicationName.Api.Application/Repositories/IProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/DocumentRepository.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

add invalidation service
  src/templates/worker/ApplicationName.Worker.Application/IDocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationConstants.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

sync
  .gitignore
  k8s/base/api/deployment.yaml
  k8s/base/worker/deployment.yaml
  k8s/base/worker/kustomization.yaml
  k8s/base/worker/service.yaml
  k8s/base/worker/valkey-config.yaml
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/api/ApplicationName.Api/appsettings.json
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/web/Dockerfile
  src/templates/worker/ApplicationName.Worker.Application/IDocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheProjectionRegistry.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/worker/ApplicationName.Worker/Dockerfile
  src/templates/worker/ApplicationName.Worker/Program.cs
  src/templates/worker/ApplicationName.Worker/appsettings.json
Labels: automation

upgrade all packages
  .github/dependabot.yml
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
Labels: automation

Remove MicroElements.Swashbuckle
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

cleanup
  src/templates/shared/ApplicationName.Shared/Projections/ExampleProjection.cs
  src/templates/shared/ApplicationName.Shared/Projections/ExampleValueObjectProjection.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheProjectionRegistry.cs
Labels: none

simplify
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

sync
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/IProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/ProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Test/Infrastructure/CacheInvalidationServiceTest.cs
Labels: none

update docs
  README.md
  docs/api.md
  docs/worker.md
  src/templates/worker/ApplicationName.Worker.Test/Consumers/ExampleCommandHandlerTest.cs
  src/templates/worker/ApplicationName.Worker/Consumers/ExampleCommandHandler.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: documentation

fixes
  README.md
  generator.ps1
  src/templates/api/ApplicationName.Api.Contracts/ApplicationConstants.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.Test/Infrastructure/ProtoCacheRepositoryTest.cs
  src/templates/worker/.template.config/template.json
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationConstants.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/CacheInvalidationService.cs
  src/templates/worker/ApplicationName.Worker.Test/Infrastructure/DocumentRepositoryTest.cs
Labels: documentation

add proper valkey conenction config
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

split valkey cache
  k8s/base/api/deployment.yaml
  k8s/base/cache/deployment.yaml
  k8s/base/cache/kustomization.yaml
  k8s/base/cache/service.yaml
  k8s/base/cache/valkey-config.yaml
  k8s/base/kustomization.yaml
  k8s/base/worker/deployment.yaml
  k8s/base/worker/service.yaml
Labels: none

fixed fetching projections
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

replace mongodb with ferretdb
  README.md
  generator.ps1
  k8s/base/api/deployment.yaml
  k8s/base/cache/deployment.yaml
  k8s/base/worker/db-user.yaml
  k8s/base/worker/deployment.yaml
  k8s/base/worker/kustomization.yaml
  k8s/overlays/local/db-secret.yaml
  k8s/overlays/local/kustomization.yaml
  src/templates/api/.template.config/ide.host.json
  src/templates/api/.template.config/template.json
  src/templates/worker/.template.config/ide.host.json
  src/templates/worker/.template.config/template.json
Labels: documentation

add to generator
  generator.ps1
Labels: none

initial
  README.md
  k8s/base/api/httproute.yaml
  k8s/base/api/kustomization.yaml
  k8s/base/web/httproute.yaml
  k8s/base/web/kustomization.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/production/kustomization.yaml
Labels: documentation

.net 10 upgrade
  src/MSA.Templates.csproj
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleCollectionDto.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ExampleServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ExampleService.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/IProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/worker/ApplicationName.Worker/Dockerfile
Labels: none

.net 10 upgrade
  .github/workflows/pr.yml
  .github/workflows/release.yml
  README.md
  src/MSA.Templates.csproj
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleCollectionDto.cs
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleDocumentTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Documents/ExampleValueObjectTest.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/Services/ExampleServiceTest.cs
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ExampleService.cs
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/IProtoCacheRepository.cs
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/worker/ApplicationName.Worker/Dockerfile
Labels: documentation, automation
