Repository ftechmax/msa-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, automation

.github/labeler.yml:

documentation:
  - "**/*.MD"
  - "**/*.md"

automation:
  - ".github/**"
  - ".git*"
  - "NuGet.config"

Replaced Dawn.Guard with CommunityToolkit.Diagnostics.Guard
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Application/Services/ApplicationService.cs
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
Labels: none

Replaced Dawn.Guard with CommunityToolkit.Diagnostics.Guard (#2)
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Application/Services/ApplicationService.cs
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
Labels: none

update api packages
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/Program.cs
Labels: none

update worker packages
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: none

update npm packages
  src/templates/msa-web/package-lock.json
  src/templates/msa-web/package.json
Labels: none

Upgrade nuget and npm packages (#3)
  .github/workflows/release.yml
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-web/package-lock.json
  src/templates/msa-web/package.json
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: automation

add more details
  README.md
  logo-64.png
  src/MSA.Templates.csproj
Labels: documentation

add coverlet.msbuild
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
Labels: none

add codecov to workflows
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

-
  README.md
Labels: documentation

downgrade pipeline .net version
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

add more package details (#4)
  .github/workflows/pr.yml
  .github/workflows/release.yml
  README.md
  logo-64.png
  src/MSA.Templates.csproj
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
Labels: documentation, automation

move InternalsVisible to csproj files
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ExposeInternals.cs
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/ExposeInternals.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ExposeInternals.cs
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/ExposeInternals.cs
Labels: none

add masstransit listener constant
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: none

Disable ServiceAccount automount
  k8s/api/base/api/deployment.yaml
  k8s/worker/base/worker/deployment.yaml
  k8s/worker/base/worker/scaledobject.yaml
Labels: none

add test snippet
  snippets/msatest1.snippet
Labels: none

expand pr workflow
  .github/workflows/pr.yml
Labels: automation

add missing rest api methods
  k8s/api/base/api/mapping.yaml
Labels: none

switch to argdefender and update packages
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Application/Services/ApplicationService.cs
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: none

update argdefender
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
Labels: none

maintenance update (#6)
  .github/workflows/pr.yml
  k8s/api/base/api/deployment.yaml
  k8s/api/base/api/mapping.yaml
  k8s/worker/base/worker/deployment.yaml
  k8s/worker/base/worker/scaledobject.yaml
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ExposeInternals.cs
  src/templates/msa-api/ApplicationName.Api.Application/Services/ApplicationService.cs
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ProtoCacheRepository.cs
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/ExposeInternals.cs
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/ExposeInternals.cs
  src/templates/msa-worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/ExposeInternals.cs
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: automation

update release.yml
  .github/workflows/release.yml
Labels: automation

add event listener
  src/templates/msa-web/package-lock.json
  src/templates/msa-web/package.json
  src/templates/msa-web/src/app/app.component.ts
  src/templates/msa-web/src/app/core/signalr.service.ts
  src/templates/msa-web/src/app/core/validation-errors.ts
  src/templates/msa-web/src/app/example/example-api.ts
  src/templates/msa-web/src/app/example/example-event.service.ts
  src/templates/msa-web/src/app/example/example-routing.module.ts
  src/templates/msa-web/src/app/example/example.module.ts
Labels: none

add collection
  src/templates/msa-web/src/app/example/collection/collection.component.ts
  src/templates/msa-web/src/app/example/example-contracts.ts
  src/templates/msa-web/src/app/example/example-event.service.ts
  src/templates/msa-web/src/app/example/example.httpclient.ts
  src/templates/msa-web/src/app/example/example.module.ts
Labels: none

rename event-service
  src/templates/msa-web/src/app/example/collection/collection.component.ts
  src/templates/msa-web/src/app/example/event.service.ts
  src/templates/msa-web/src/app/example/example.module.ts
Labels: none

add create and details
  src/templates/msa-web/package-lock.json
  src/templates/msa-web/package.json
  src/templates/msa-web/src/app/example/collection/collection.component.ts
  src/templates/msa-web/src/app/example/contracts.ts
  src/templates/msa-web/src/app/example/create/create.component.ts
  src/templates/msa-web/src/app/example/details/details.component.ts
  src/templates/msa-web/src/app/example/event.service.ts
  src/templates/msa-web/src/app/example/example.httpclient.ts
Labels: none

add collection template
  src/templates/msa-web/.editorconfig
  src/templates/msa-web/src/app/app.component.html
  src/templates/msa-web/src/app/app.component.scss
  src/templates/msa-web/src/app/app.component.ts
  src/templates/msa-web/src/app/app.module.ts
  src/templates/msa-web/src/app/core/header/header.component.html
  src/templates/msa-web/src/app/core/header/header.component.scss
  src/templates/msa-web/src/app/core/header/header.component.spec.ts
  src/templates/msa-web/src/app/core/header/header.component.ts
  src/templates/msa-web/src/app/core/header/header.module.ts
  src/templates/msa-web/src/app/core/validation-errors.ts
  src/templates/msa-web/src/app/example/collection/collection.component.html
  src/templates/msa-web/src/app/example/collection/collection.component.scss
  src/templates/msa-web/src/app/example/collection/collection.component.ts
  src/templates/msa-web/src/app/example/contracts.ts
  src/templates/msa-web/src/app/example/create/create.component.ts
  src/templates/msa-web/src/app/example/details/details.component.ts
  src/templates/msa-web/src/app/example/example.module.ts
  src/templates/msa-web/src/assets/i18n/app/en.json
  src/templates/msa-web/src/index.html
  src/templates/msa-web/src/styles.scss
Labels: none

fix routing
  src/templates/msa-web/src/app/example/collection/collection.component.ts
Labels: none

add shared to api
  README.md
  src/templates/msa-api/.template.config/template.json
  src/templates/msa-api/ApplicationName.Api.sln
Labels: documentation

worker
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
Labels: none

api
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
Labels: none

template
  README.md
  src/MSA.Templates.csproj
Labels: documentation

add dependabot config
  .github/dependabot.yml
Labels: automation

update net version in actions
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

replace deprecated mongodb instrumentation package
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: none

update dockerfile
  src/templates/msa-api/ApplicationName.Api/Dockerfile
  src/templates/msa-worker/ApplicationName.Worker/Dockerfile
Labels: none

net8.0 upgrade (#27)
  .github/workflows/pr.yml
  .github/workflows/release.yml
  README.md
  src/MSA.Templates.csproj
  src/templates/msa-api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Application/ApplicationName.Api.Application.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/msa-api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/msa-api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/msa-api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/msa-api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/msa-api/ApplicationName.Api/Dockerfile
  src/templates/msa-api/ApplicationName.Api/Program.cs
  src/templates/msa-worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker.Contracts/ApplicationName.Worker.Contracts.csproj
  src/templates/msa-worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/msa-worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/msa-worker/ApplicationName.Worker/ApplicationName.Worker.csproj
  src/templates/msa-worker/ApplicationName.Worker/Dockerfile
  src/templates/msa-worker/ApplicationName.Worker/Program.cs
Labels: documentation, automation

upgrade to actions/checkout v4
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

-
  .github/dependabot.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

cleanup unused parameters
  README.md
  src/templates/api/.template.config/template.json
  src/templates/web/.template.config/template.json
  src/templates/worker/.template.config/template.json
Labels: documentation
