Repository ftechmax/msa-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, automation

apply package updates
  src/templates/api/ApplicationName.Api.Application.Test/ApplicationName.Api.Application.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts.Test/ApplicationName.Api.Contracts.Test.csproj
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Infrastructure/ApplicationName.Api.Infrastructure.csproj
  src/templates/api/ApplicationName.Api.Test/ApplicationName.Api.Test.csproj
  src/templates/api/ApplicationName.Api.sln
  src/templates/api/ApplicationName.Api/ApplicationName.Api.csproj
  src/templates/worker/ApplicationName.Worker.Application.Test/ApplicationName.Worker.Application.Test.csproj
  src/templates/worker/ApplicationName.Worker.Application/ApplicationName.Worker.Application.csproj
  src/templates/worker/ApplicationName.Worker.Contracts.Test/ApplicationName.Worker.Contracts.Test.csproj
  src/templates/worker/ApplicationName.Worker.Infrastructure/ApplicationName.Worker.Infrastructure.csproj
  src/templates/worker/ApplicationName.Worker.Test/ApplicationName.Worker.Test.csproj
  src/templates/worker/ApplicationName.Worker.sln
Labels: none

regenerate package-lock.json to fix several dependency vulnerabilities
  src/templates/web/package-lock.json
Labels: none

fix unit tests
  src/templates/api/ApplicationName.Api.Application.Test/Services/ApplicationServiceTest.cs
  src/templates/api/ApplicationName.Api.Application/Documents/DocumentBase.cs
  src/templates/api/ApplicationName.Api.Contracts/Documents/IDocumentBase.cs
  src/templates/api/ApplicationName.Api/MappingProfile.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/AggregateDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/ApplicationName.Shared.Test.projitems
Labels: none

rework
  src/templates/api/ApplicationName.Api.Application/Commands/SetExampleRemoteCodeCommand.cs
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Application/Services/IExampleService.cs
  src/templates/api/ApplicationName.Api.Contracts/ApplicationName.Api.Contracts.csproj
  src/templates/api/ApplicationName.Api.Contracts/Dtos/AddExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api/Consumers/LocalEventHandler.cs
  src/templates/api/ApplicationName.Api/Controllers/ExampleController.cs
  src/templates/api/ApplicationName.Api/Validators/AddExampleEntityDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleEntityDtoValidator.cs
  src/templates/shared/ApplicationName.Shared.Test/ApplicationName.Shared.Test.projitems
  src/templates/shared/ApplicationName.Shared.Test/Commands/AddExampleEntityCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleEntityCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleCreatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityAddedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleEntityUpdatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Events/ExampleUpdatedEventDummyFactory.cs
  src/templates/shared/ApplicationName.Shared/ApplicationName.Shared.projitems
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/IApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Contracts/Commands/ISetExampleRemoteCodeCommand.cs
  src/templates/worker/ApplicationName.Worker.Test/Consumers/ExternalEventHandlerTest.cs
  src/templates/worker/ApplicationName.Worker/Commands/SetExampleRemoteCodeCommand.cs
  src/templates/worker/ApplicationName.Worker/Consumers/CommandHandler.cs
  src/templates/worker/ApplicationName.Worker/Consumers/ExternalEventHandler.cs
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

initial commit
  src/templates/migrate/Dockerfile
  src/templates/migrate/db.js
  src/templates/migrate/migrate.js
  src/templates/migrate/migrations/1676983914013-add-paddedversion.js
  src/templates/migrate/mongodb-store.js
  src/templates/migrate/package-lock.json
  src/templates/migrate/package.json
  src/templates/migrate/template.js
Labels: none

add shared aggregate interfaces + dummy factories
  src/templates/api/ApplicationName.Api.Application.Test/TestBootstrap.cs
  src/templates/api/ApplicationName.Api.Test/TestBootstrap.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/AggregateDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/ExampleDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/ExampleEntityDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Aggregates/ExampleValueObjectDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/ApplicationName.Shared.Test.projitems
  src/templates/shared/ApplicationName.Shared.Test/Commands/CreateExampleCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared.Test/Commands/UpdateExampleEntityCommandDummyFactory.cs
  src/templates/shared/ApplicationName.Shared/Aggregates/IExample.cs
  src/templates/shared/ApplicationName.Shared/Aggregates/IExampleEntity.cs
  src/templates/shared/ApplicationName.Shared/Aggregates/IExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Application.Test/TestBootstrap.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
  src/templates/worker/ApplicationName.Worker.Test/TestBootstrap.cs
Labels: none

cleanup k8s yml
  k8s/web/base/web/deployment.yaml
  k8s/worker/base/worker/deployment.yaml
  k8s/worker/base/worker/kustomization.yaml
  k8s/worker/overlays/local/kustomization.yaml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: automation

Add BsonElement attribute to serialize getter properties
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleDocument.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleEntity.cs
  src/templates/worker/ApplicationName.Worker.Application/Documents/ExampleValueObject.cs
Labels: none

change mongo and redis connection strings
  k8s/api/base/api/deployment.yaml
  k8s/worker/base/worker/deployment.yaml
  src/templates/api/ApplicationName.Api/KubernetesLocalProcessConfig.yaml
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/api/ApplicationName.Api/appsettings.Development.json
  src/templates/api/ApplicationName.Api/appsettings.json
Labels: none

redis connection string as parameter
  k8s/api/base/api/deployment.yaml
  src/templates/api/ApplicationName.Api/KubernetesLocalProcessConfig.yaml
  src/templates/worker/.template.config/template.json
Labels: none

-
  src/templates/api/ApplicationName.Api.Application/Services/ExampleService.cs
  src/templates/api/ApplicationName.Api.Infrastructure/DocumentRepository.cs
  src/templates/worker/ApplicationName.Worker.Application/Services/ApplicationService.cs
  src/templates/worker/ApplicationName.Worker.Infrastructure/DocumentRepository.cs
Labels: none

fix: upgrade @angular/material from 16.2.1 to 16.2.14
  src/templates/msa-web/package.json
Labels: none

fix: upgrade multiple dependencies with Snyk
  src/templates/msa-web/package.json
Labels: none

-
  .github/dependabot.yml
  .github/workflows/release.yml
  src/templates/web/default.conf.template
Labels: automation

refactor i18n source
  src/templates/web/angular.json
  src/templates/web/default.conf.template
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/web/src/app/app.module.ts
  src/templates/web/src/app/transloco-loader.ts
  src/templates/web/src/app/transloco-root.module.ts
  src/templates/web/src/assets/i18n/en.json
  src/templates/web/src/environments/environment.ts
  src/templates/web/transloco.config.js
Labels: none

-
  src/templates/web/package-lock.json
Labels: none

dependabot
  .github/dependabot.yml
Labels: automation

update giversion
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: automation

move k8s
  k8s/api/base/kustomization.yaml
  k8s/api/overlays/production/kustomization.yaml
  k8s/api/overlays/production/patches/api/patch-security-context.yaml
  k8s/base/api/deployment.yaml
  k8s/base/api/kustomization.yaml
  k8s/base/api/mapping.yaml
  k8s/base/api/service.yaml
  k8s/base/kustomization.yaml
  k8s/base/web/deployment.yaml
  k8s/base/web/kustomization.yaml
  k8s/base/web/mapping.yaml
  k8s/base/web/service.yaml
  k8s/base/worker/deployment.yaml
  k8s/base/worker/kustomization.yaml
  k8s/base/worker/scaledobject.yaml
  k8s/base/worker/service.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/local/kustomization.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/web/overlays/development/kustomization.yaml
  k8s/web/overlays/local/kustomization.yaml
  k8s/web/overlays/production/kustomization.yaml
  k8s/web/overlays/production/patches/web/patch-security-context.yaml
  k8s/worker/base/kustomization.yaml
  k8s/worker/overlays/development/kustomization.yaml
  k8s/worker/overlays/local/kustomization.yaml
  k8s/worker/overlays/production/patches/worker/patch-security-context.yaml
Labels: none

fix k8s mappings
  k8s/base/api/mapping.yaml
  k8s/base/api/service.yaml
  k8s/base/web/mapping.yaml
  k8s/base/web/service.yaml
  k8s/base/worker/service.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/local/kustomization.yaml
Labels: none

-
  src/templates/web/package-lock.json
Labels: none

upgrade angular v17
  src/templates/web/angular.json
  src/templates/web/package-lock.json
  src/templates/web/package.json
  src/templates/web/src/app/app.component.html
Labels: none

update angular material v17
  src/templates/web/package-lock.json
  src/templates/web/package.json
Labels: none

add user for gitversion container to allow workspace
  .github/workflows/pr.yml
Labels: automation

dependabot
  .github/dependabot.yml
Labels: automation

add generator script
  k8s/base/web/deployment.yaml
  k8s/overlays/development/kustomization.yaml
  tools/generator.ps1
Labels: none

expand quickstart
  README.md
  tools/generator.ps1
Labels: documentation

update dependabot to use new multi-directory config
  .github/dependabot.yml
Labels: automation

add web test to pr action
  .github/workflows/pr.yml
Labels: automation

fix missing destination folder
  tools/generator.ps1
Labels: none

move tools to root
  README.md
  generator.ps1
Labels: documentation

change PR flow
  .github/workflows/pr.yml
Labels: automation

-
  .github/workflows/pr.yml
Labels: automation

add generator script (#78)
  .github/workflows/pr.yml
  README.md
  generator.ps1
  k8s/base/web/deployment.yaml
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/local/kustomization.yaml
Labels: documentation, automation

fix startup and build issues
  generator.ps1
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker/Dockerfile
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

move logging down
  src/templates/api/ApplicationName.Api/Program.cs
Labels: none

fix startup issues (#79)
  generator.ps1
  src/templates/api/ApplicationName.Api/Dockerfile
  src/templates/api/ApplicationName.Api/Program.cs
  src/templates/worker/ApplicationName.Worker/Dockerfile
  src/templates/worker/ApplicationName.Worker/Program.cs
Labels: none

refactor contracts to record type
  src/templates/api/ApplicationName.Api.Application/Commands/AddExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/CreateExampleCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/ExampleValueObjectEventData.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleCommand.cs
  src/templates/api/ApplicationName.Api.Application/Commands/UpdateExampleEntityCommand.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/AddExampleEntityDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/CreateExampleDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleCollectionDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleDetailsDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/ExampleValueObjectDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleDto.cs
  src/templates/api/ApplicationName.Api.Contracts/Dtos/UpdateExampleEntityDto.cs
Labels: none

refactor dto validators + add missing
  src/templates/api/ApplicationName.Api.Test/Validators/AddExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/CreateExampleDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/ExampleValueObjectDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api.Test/Validators/UpdateExampleEntityDtoValidatorTest.cs
  src/templates/api/ApplicationName.Api/Validators/AddExampleEntityDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/CreateExampleDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/ExampleValueObjectDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleDtoValidator.cs
  src/templates/api/ApplicationName.Api/Validators/UpdateExampleEntityDtoValidator.cs
Labels: none

.github/labeler.yml:

documentation:
  - "**/*.MD"
  - "**/*.md"

automation:
  - ".github/**"
  - ".git*"
  - "NuGet.config"
